@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-blue: #003366;
  --color-brand-lightblue: #007bff;
  --color-brand-yellow: #ffc107;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility btn {
  @apply rounded-lg border border-transparent px-4 py-2 font-medium cursor-pointer transition;
}

@utility btn-primary {
  @apply bg-blue-500 text-white hover:bg-blue-600 focus:outline-hidden focus:ring-2 focus:ring-blue-400;
}

@utility btn-secondary {
  @apply bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:ring-2 focus:ring-gray-300;
}

/* Estilos globales opcionales usando Tailwind */
@layer base {
  h1 {
    @apply text-3xl font-bold leading-tight;
  }
  html {
    font-family: 'Montserrat', sans-serif; /* agregue el montserrat */
  }
}
