// Added this file due to the following rule: the no-unused-modules is only compatible with legacy configs. 
// If you make use of the new flat config, either do not enable this rule, or provide a legacy eslintrc config (even empty) at the same time together for this rule to be functional.
// More info here: https://github.com/un-ts/eslint-plugin-import-x/blob/HEAD/docs/rules/no-unused-modules.md